telethon==1.36.0
pyrogram==2.0.106
pyrofork
kurigram
TgCrypto
aiohttp
aiofiles
aiosqlite
pillow
qrcode
pyzbar
pytesseract
yt-dlp
instaloader
requests
beautifulsoup4
googletrans==4.0.0rc1
gtts
pydub
ffmpeg-python
python-dotenv
speedtest-cli
psutil
humanize
asyncio
uvloop
colorama
rich
motor
pymongo
redis
hachoir
mutagen
wget
moviepy
opencv-python
numpy
matplotlib